<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Catering</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
	<div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Catering</h1>
            
            <form class="form-horizontal" th:action="@{/catering/{id}/beverages(id=${catering.id})}" method="post" enctype="multipart/form-data" >
            	<fieldset>
            		<div class="form-group">
	                    <label class="col-lg-2 control-label">Catering Name</label>
	                    <div class="col-lg-6">
	                    	<input type="text" class="form-control" disabled="disabled" 
	                    		th:value="${catering.cateringName}"/>
	                    </div>
                	</div>
            		<div class="form-group">
	                    <label class="col-lg-2 control-label">Address</label>
	                    <div class="col-lg-6">
	                    	<input type="text" class="form-control" disabled="disabled" 
	                    		th:value="${catering.alamat}"/>
	                    </div>
                	</div>
            		<div class="form-group">
	                    <label class="col-lg-2 control-label">Beverages</label>
	                    <div class="col-lg-10">
							<div th:each="beverage : ${catering.beverages}">
								<span th:text="${beverage.name}" /> - <span th:text="${beverage.description}" />
							</div>
	                    </div>
	                </div>
            		<div class="form-group">
	                    <div class="col-lg-6 col-lg-offset-2">
							<div class="input-group">
								<select name="beveragesId" class="form-control">
									<option th:each="beverages : ${beverages}" 
										th:value="${beverages.id}" 
										th:text="${beverages.description}">Beverages</option>
								</select>
								<span class="input-group-btn">
									<button type="submit" class="btn btn-default">Add beverages</button>
								</span>
							</div>
	                    </div>
                	</div>
            	</fieldset>
            </form>
          </div>
        </div>
      </div>
	</div>

</body>
</html>